body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    height: 80px
}
.container{
    width: 800px;
    height: 800px;
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.square{
    box-sizing: border-box;
    border: 1px solid black;

}
